{{ define "main" }}
    <div class="container">
        <h1>Tutti i Post del Blog</h1>
        <hr>
        {{ range .Site.RegularPages }}
            <div class="card">
                <div class="card-title">
                    {{ .Title }}
                </div>
                <div class="card-content">
                    <!-- Mostra solo la prima frase o un estratto -->
                    {{ .Content | truncate 150 }} <!-- Puoi regolare il valore (150) per la lunghezza desiderata -->
                </div>
                <a href="{{ .Permalink | default: '/shop' }}" class="card-button">Acquista Ora</a>
            </div>
        {{ end }}
    </div>
    {{ partial "rss.html" . }}
{{ end }}
