{{ define "main" }}
    <div class="container">
        <h1>Tutti i Post del Blog</h1>
        <hr>
        {{ range .Site.RegularPages }}
            <div class="card">
              <div class="card-title">
                {{ .Page.Title }}
              </div>
              <div class="card-content">
                {{ .page.content }}
              </div>
              <a href="{{ page.link | default: '/shop' }}" class="card-button">Acquista Ora</a>
            </div>
        {{ end }}
    </div>
{{ partial "rss.html" . }}
{{ end }}



